* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

#container {
	width: 80%;
	margin: 24px auto 0 auto;
		.card {
			border-radius: 8px;
			border: 1px solid rgba(0,0,0,0.12);
			padding: 24px;
			margin: 12px;
		}
}
